.divinput
    display: flex
    position: relative
    flex-direction: column
    justify-content: stretch
    min-width: 400px
    margin-top: 20px
    .label
        font-size: 1rem
        margin-left: 2.5px
        font-family: "Arial"
        color: black
    .input
        min-height: 37.5px
        outline: none
        border-radius: 12.5px
        border-color: #334854
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
        font-size: 0.8rem
        padding-left: 7.5px
        cursor: text
