.root {
    width: 100vw;
    background-color: #fffafa;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 1.7rem;
    margin: 20px;
}

.title2 {
    font-size: 1.6rem;
    margin: 20px 0 25px 0px;
}

.appbar {
    background-color: #527A1C !important;
}

.section {
    overflow-y: auto;
}

.graphic {
    margin: 1% 6% 0% ;
    display: flex;
    flex-direction: column;
}

.section2 {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select {
    color: #527A1C !important;
    margin: 30px;
    width: 20%;
}

.divider {
    margin: 30px;
}

.add {
    width: 30%;
}