body {
    margin: 0;
    padding: 0;
    /* Peut apparaitre lors du drag & drop */
    outline: none;
    /* Eviter le scroll sous le canvas */
    overflow: hidden;
}

/* .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    overflow: hidden;
} */