# Libraries
*.o
*.hi
*.a

# Emacs
*~
\#*#

# Executables
pasPush/
build
wolfram
*.out
unit_tests
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Test Unitaire
*.gc*
*.h.gch
mainee.c*

# VALGRING
vgcore.*

# VSCODE
*.vscode