<ion-content [fullscreen]="true">
  <div style="background-image:url('./assets/background.jpg'); height: 100vh; width: 100vw; background-size: cover; padding: 5px; display: flex; flex-flow: column">
    <div *ngIf="registered == false" style="margin: auto">
      <span style="margin-bottom: 10px">Mon pseudonyme</span>
      <div style="display: flex; flex-flow: row">
        <input type="text" [formControl]="name" style="margin-right: 5px;"/>
        <div class="btn" (click)="register()" style="cursor: pointer; width: 120px !important; height: 60px !important">
          <span>Valider</span>
        </div>
      </div>
    </div>

    <div *ngIf="registered == true" style="display: flex; flex-flow: column">
      <div style="display: flex; flex-flow: row; margin-top: 30px; margin-left: auto; margin-right: auto">
        <span>Bonjour&emsp;</span><span style="text-decoration: underline">{{data}}</span><span>&emsp;!</span>
      </div>
      <ion-spinner *ngIf="load == true" name="crescent" color="light" style="margin-top: 30px; margin-right: auto; margin-left: auto"></ion-spinner>
      <span *ngIf="cooldown < 15" style="margin-top: 50px; margin-right: auto; margin-left: auto">{{cooldown}}</span>
      <div class="btn" (click)="findGame()" style="cursor: pointer; width: 250px !important; height: 60px !important; position: absolute; top: 50%; left: calc(50% - 125px)">
        <span>Chercher une partie</span>
      </div>
    </div>
  </div>
</ion-content>
