map/
map
map/*
txt/
txt
txt/*

anthill
lem_in

# Libraries
*.o
*.a

# Emacs
*~
\#*#

# Executables
*.out
unit_tests
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Test Unitaire
*.gc*
*.h.gch

# VALGRING
vgcore.*

# VSCODE
*.vscode