<div style="display: flex; flex-flow: column; background-color: black; width: 100vw; height: fit-content; overflow-x: hidden">
  <div style="background-color: black; width: 100vw; height: 100vh">
    <div style="background-image: url(assets/wallpaper.jpg); background-size: cover; display: flex; width: 100vw; height: 100vh; box-shadow: 60px 60px 60px 0 rgb(0, 0, 0) inset, -60px -60px 60px 0 rgb(0, 0, 0) inset; ">
  </div>
  <div style="background-color: black; width: 100vw; height: 30vh; display: flex; flex-flow: column">
    <img src="assets/logo.png" style="margin: auto auto auto auto; object-fit: cover">
  </div>
  <div style="background-color: black; width: 100vw; height: 50vh; display: flex; flex-flow: column">
    <p style="margin: auto auto auto auto; color: white; font-size: 50px; font-family: monospace; text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue">LE JEU LE PLUS ATTENDU DE L'ANNÉE</p>
  </div>
  <div style="background-color: black; width: 100vw; height: 50vh; display: flex; flex-flow: column">
    <p style="margin: auto auto auto auto; color: white; font-size: 50px; font-family: monospace; text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue">UN GAMEPLAY ÉPOUSTOUFLANT</p>
  </div>
  <div style="background-color: black; padding: 10px; width: 100vw; height: 100vh; display: flex; flex-flow: row">
    <div style="width: 50vw; height: 100vh; display: flex">
      <iframe style="margin: auto" width="560" height="315" src="https://www.youtube.com/embed/EqtHUqRBBXE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div style="width: 50vw; height: 100vh; display: flex; padding: 10px">
      <p style="margin: auto; color: white; font-size: 50px; font-family: monospace; text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; text-align: center">SORTIE SUR DISQUETTE 3.5"</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>