# Libraries
*.o
*.a

# Emacs
*~
\#*#

# Executables
libmy_malloc.so
*.out
unit_tests
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Test Unitaire
*.gc*
*.h.gch
mainee.*
.tmp.so

# VALGRING
vgcore.*

# VSCODE
*.vscode